/*Reset all fields CSS3 JewellSchool.org*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: 'milk';
    src: url('lemonmilk.otf');
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    position: fixed;
    z-index: 9999
}

body, html {
    height: 100%;
}

nav {
    margin: 0 auto;
}

.logo {
    width: 50px;
    margin: 15px 20px;
}

.nav {
    text-decoration: none;
    color: white;
    padding: 2rem;
    font-size: 14px;
    font-family: 'milk';
    text-transform: uppercase;
    background-color: ;
    display: inline-block;
    letter-spacing: 2px;
}

#videoWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#backgroundvid {
    z-index: -9999;
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
    /*grid-column-gap: 10px;
    grid-row-gap: 10px;*/)
    display: grid;
    padding: 0;
    margin: 40px 20px;
}

.a {
    grid-area: a;
    background-image: url(owl.jpg);
    background-size: cover;
}

.b {
    grid-area: b;
    background-image: url(dog.jpg);
    background-size: cover;
}

.c {
    grid-area: c;
    background-image: url(pet.jpg);
    background-size: cover;
}

.d {
    grid-area: d;
    background-image: url(field.jpg);
    background-size: cover;
}

.e {
    grid-area: e;
    background-image: url(mountain.jpg);
    background-size: cover;
}

.f {
    grid-area: f;
    background-image: url(truck.jpg);
    background-size: cover;
}

.g {
    grid-area: g;
    background-image: url(view.jpg);
    background-size: cover;
}

.h {
    grid-area: h;
    background-image: url(wish.jpg);
    background-size: cover;
}

.i {
    grid-area: i;
    background-image: url(nature.jpg);
    background-size: cover;
}

footer {
    width: 100%;
    background-color: gainsboro;
    color: white;
    text-align: center;
    font-family: ;
    font-size: 16px;
}

p {
    padding: 50px;
}

#a, #b, #c, #d, #e, #f, #g, #h, #i {
    letter-spacing: 2px;
    font-family: 'milk';
    visibility: hidden;
    color: white;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    height: 250px;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i {
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
}

.a:hover #a, .b:hover #b, .c:hover #c, .d:hover #d, .e:hover #e, .f:hover #f, .g:hover #g, .h:hover #h, .i:hover #i {
    visibility: visible;
}

.a:hover, .b:hover, .c:hover, .d:hover, .e:hover, .f:hover, .g:hover, .h:hover, .i:hover {
    opacity: 0.5;
}