@font-face {
    font-family: logo;
    src: url(BebasNeue-Regular.ttf);
}

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	background-color: #282B30;
}
p {
	color: #8167D6;
	font-size: 50px;
	//font-weight: bold;
}



.main{
	height: 100%;
	width: 100%;
	isolation: isolate;
	position: relative;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"nav-bar main-view"
		"now-playing main-view";
}

.top-container {
	grid-area: main-view;
	height: 80px;
	z-index: 2;
	background-color: ;
}

.main-view {
	grid-area: main-view;
	width: 100%;
	height: 100px;
	background-color: ;
}

.topbar {
	height: 80px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Navigation Bar Section --------------------------------------------------------*/
.nav-bar {
  grid-area: nav-bar;
  width: 250px;
  background-color: #1E2124;
}

.ul {
  list-style: none;
}

.nav-bar-items {
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.nav-bar-link, .nav-bar-link-active {
  padding: 0 16px;
  height: 40px;
  display: flex;
  align-items: center;
}

.nav-bar-link-active {
	padding: 0 11px;
  	border-left: 5px solid #7663F2;
}

/* Now Playing Section --------------------------------------------------------*/
.now-playing {
  grid-area: now-playing;
  width: 250px;
  background-color: #1E2124;
}

.now-playing-img {
  width: 100%;
}

.logo {
	font-family: 'logo';
	font-size: 60px;
	color: white;
	text-align: center;
}

/* -------------------------------------*/

.user {
	background-color: #1E2124;
	margin-right: 24px;
	border-radius: 10px;
	border: 0;
}

.profileimg {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	margin-right: 5px;
	display: inline-block;
}

.name {
	position: relative;
	letter-spacing: .5px;
	font-size: 14px;
	display: inline-block;
}

.login-btn, #user-profile {
	float: right;
	margin: 20px;
	padding: 8px;
	border-radius: 10px;
	background-color: #7663F2;
	border: 0px;
	color: white;
	font-family:  Arial, Helvetica, sans-serif;
	align-items: center;
}

.spacer {
  height: 60px;
}
.contentSpacing {
	padding: 0 24px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

/* -------------------------------------*/
.recplaygrid {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 16px;
	grid-template-areas:
		'topbar topbar topbar topbar'
		'one two three four';
}

.recplay {
	grid-area: topbar;
}

.albumimg {
	height: 100%;
	width: 100%;
	margin-bottom: 12px;
}

.albumone, .albumtwo, .albumthree, .albumfour {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 20px 20px 16px;
	background-color: #1E2124;
}

.albumone {
	grid-area: one;
}

.albumtwo {
	grid-area: two;
}

.albumthree {
	grid-area: three;
}

.albumfour {
	grid-area: four;
}

.album, .artist {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}

.album {
	color:white;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
}

.artist {
	color: #999999;
	font-size: 14px;
	letter-spacing: 0.4px;
}

/* Featured Section------------------------------------*/
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}