/* Code mostly written by Jasmine minus the workspaces by other group members */
@font-face {
    font-family: logo;
    src: url(BebasNeue-Regular.ttf);
}

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	background-color: #282B30;
	overflow: hidden;
}

#loggedin, body, html {
	height: 100%;
}

.album-title, .artist-name, .logo, .np-song-name, .np-artist-name, .playlist-name {
	font-family: 'Abel';
	color: white;
}

.login-btn, #user-profile, .nav-bar-items, .nav-bar-items-active, h2, .none, .playback-bar__progress-time {
	font-family: 'Montserrat';
	color:white;
}

p {
	color: #8167D6;
	font-size: 50px;
}

.main{
	height: 100%;
	width: 100%;
	isolation: isolate;
	position: relative;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-rows: auto 300px;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"nav-bar main-view"
		"now-playing main-view";
}

.top-container {
	grid-area: main-view;
	height: 80px;
	z-index: 2;
}

.main-view {
	grid-area: main-view;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.topbar {
	height: 80px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-view::-webkit-scrollbar {
	width: 8px;
}

.main-view::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 10px;
	width: 10px;
}

.main-view::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.left, .right {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
  
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

/* Log in Screen Section ---------------------------------------------------------*/
body {
	background-image: url(mountains.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
  
.login-container {
	background-color: #1E2124;
	border-radius: 20px;
	padding: 100px 0;
	text-align: center;
	width: 600px;
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
  
.login-btn, .title, .subtitle {
	font-family: 'Montserrat';
	color:white;
	margin: auto;
}
  
.title {
	font-size: 64px;
}
  
.subtitle {
	font-size: 22px;
	padding-bottom: 20px;
}
  
.login-btn {
	font-size: 14px;
	padding: 16px;
	border-radius: 10px;
	background-color: #1e2124;
	border: white solid 2px;
	align-items: center;
	cursor: pointer;
}
  
.login-btn:hover {
	background: #7663F2;
	transition: all 0.4s ease;
}

/* Navigation Bar Section --------------------------------------------------------*/
.nav-bar {
  grid-area: nav-bar;
  width: 250px;
  background-color: #1E2124;
}

li {
  list-style-type: none;
}

.nav-bar-items {
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
  padding: 0 16px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.nav-bar-items:hover {
	opacity: 1;
	background-color: #7663F2;
}

.nav-bar-link {
  height: 40px;
  display: flex;
  align-items: center;
} 

.nav-bar-items-active {
	font-size: 18px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.5px;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
	padding: 0 11px;
	border-left: 5px solid #7663F2;
	/*background-color: #7663F2;*/
}

.nav-divider {
	border: 1px solid #7663f27a;
	width: 90%;
	margin: 10px auto;
}

.logo-section {
	display: flex;
	padding: 10px;
}

.logo {
	font-family: 'logo';
	font-size: 50px;
	text-align: center;
}

.logoimg {
	width: 45px;
	height: 45px;
	margin: auto 0;
	padding-right: 8px;
}

/* Now Playing Section --------------------------------------------------------*/
.now-playing {
	grid-area: now-playing;
	width: 250px;
	background-color: #1E2124;
}

.now-playing-img {
	display: block;
	width: 80%;
	margin: 10px auto;
	border-radius: 30px;
}

.np-artist-name, .np-song-name {
	text-align: center;
	padding: 5px 0;
}

.np-song-name {
	font-size: 20px;
}

.np-artist-name {
	font-size: 16px;
}

.play {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;
}

.pause {
    width: 4px;
    height: 16px;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
}

/* User button Section ----------------------------------------------------------*/

.user {
	background-color: #1E2124;
	margin-right: 24px;
	border-radius: 10px;
	border: 0;
}

.profileimg {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	margin-right: 5px;
	display: inline-block;
}

.name {
	position: relative;
	letter-spacing: .5px;
	font-size: 14px;
	display: inline-block;
}

#user-profile {
	float: right;
	margin: 20px;
	padding: 8px;
	border-radius: 10px;
	background-color: #7663F2;
	border: 0px;
	align-items: center;
	cursor: pointer;
}

/* Sections ---------------------------------------------------------------------*/
.spacer {
  height: 60px;
}

#home-content, #discover-content, #browse-content, #library-content, #favorites-content, #following-content {
	padding: 0 24px;
}

#discover-content, #browse-content, #library-content, #favorites-content, #following-content {
	display: none;
}

/* New Releases Section ---------------------------------------------------------*/

#new-releases {
	margin-top: 20px;
	padding-bottom: 12px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 16px;
	/*overflow-x: scroll;
	scroll-snap-type: x proximity;*/
}

.albumimg {
	width: 100%;
	margin-bottom: 6px;
	border-radius: 20px 20px 0 0;
}

.album {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-color: #1E2124;
	border-radius: 20px;
}

.album-title, .artist-name {
	display: block;
	text-align: center;
}

.album-title {
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
	font-size: 14px;
	padding: 0 16px;
}

.artist-name {
	color: #999999;
	font-size: 12px;
	letter-spacing: 0.4px;
	padding: 0 20px 16px;
}

/* Library Section ---------------------------------------------------------*/
#library-playlist {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 16px;
}

.library {
	display: grid;
	vertical-align: top;
	position: relative;
	background-color: #1E2124;
	border-radius: 20px;
}

.playlist-img {
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.playlist-name {
	display: block;
	text-align: center;
}

.playlist-name {
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 14px;
	padding: 8px 10px 10px 10px;
}

.none {
	font-size: 24px;
	text-align: center;
	margin-top: 150px;
}

/* Following Section (Peyton's Workspace)---------------------------------------------------------*/
#following {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;

}

.following-artists {
	/*display: grid;*/
	position: relative;
	border-radius: 20px;
}

.following-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	border-radius: 20px;
	opacity: 0;
	transition: all 0.5s ease;
	background-color: #1e212480;
}

.fol-art-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	display: block;
}

.fol-art-name {
	display: block;
	position: relative;
	top: 50%;
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: bold;
	font-family: 'Montserrat';
}

.following-artists:hover .following-overlay {
	opacity: 1;
}

/*.following-artists:hover {
	transform: scale(1.2);
}*/

