/* Code mostly written by Jasmine minus the workspaces by other group members */
@font-face {
    font-family: logo;
    src: url(BebasNeue-Regular.ttf);
}

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section,
small, span, strike, strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	background-color: #282B30;
	overflow: hidden;
}

#loggedin, body, html {
	height: 100%;
}

.album-title, .artist-name, .logo, .np-song-name, .np-artist-name, .playlist-name {
	font-family: 'Abel';
	color: white;
}

.login-btn, #user-profile-button, .nav-bar-items, .nav-bar-items-active, h2, .none {
	font-family: 'Montserrat';
	color:white;
}

p {
	color: #8167D6;
	font-size: 50px;
}

.main{
	height: 100%;
	width: 100%;
	isolation: isolate;
	position: relative;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-rows: auto 350px;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"nav-bar main-view"
		"now-playing main-view";
}

.top-container {
	grid-area: main-view;
	height: 80px;
	z-index: 2;
}

.main-view {
	grid-area: main-view;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.topbar {
	height: 80px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-view::-webkit-scrollbar {
	width: 8px;
}

.main-view::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 10px;
	width: 10px;
}

.main-view::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.left, .right {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
  
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

/* Log in Screen Section ---------------------------------------------------------*/
body {
	background-image: url(mountains.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
  
.login-container {
	background-color: #1E2124;
	border-radius: 20px;
	padding: 100px 0;
	text-align: center;
	width: 600px;
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
  
.login-btn, .title, .subtitle {
	font-family: 'Montserrat';
	color:white;
	margin: auto;
}
  
.title {
	font-size: 64px;
}
  
.subtitle {
	font-size: 22px;
	padding-bottom: 20px;
}
  
.login-btn {
	font-size: 14px;
	padding: 16px;
	border-radius: 10px;
	background-color: #1e2124;
	border: white solid 2px;
	align-items: center;
	cursor: pointer;
}
  
.login-btn:hover {
	background: #7663F2;
	transition: all 0.4s ease;
}

.login-btn:focus {
	outline: 0;
}

/* Navigation Bar Section --------------------------------------------------------*/
.nav-bar {
  grid-area: nav-bar;
  width: 250px;
  background-color: #1E2124;
}

li {
  list-style-type: none;
}

.nav-bar-items {
  font-size: 18px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
  padding: 0 16px;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.nav-bar-items:hover {
	opacity: 1;
	background-color: #7663F2;
}

.nav-bar-link {
	height: 40px;
	display: flex;
	align-items: center;
} 

.nav-bar-items-active {
	font-size: 18px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.5px;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
	padding: 0 11px;
	border-left: 5px solid #7663F2;
	/*background-color: #7663F2;*/
}

.nav-divider {
	border: 1px solid #7663f27a;
	width: 90%;
	margin: 10px auto;
}

.logo-section {
	display: flex;
	padding: 10px;
}

.logo {
	font-family: 'logo';
	font-size: 50px;
	text-align: center;
}

.logoimg {
	width: 45px;
	height: 45px;
	margin: auto 0;
	padding-right: 8px;
}

/* Now Playing Section --------------------------------------------------------*/
#progress-time, #duration-time, .now-playing-title {
	font-family: 'Montserrat';
	color:white;
	letter-spacing: 2px;
}

#now-playing {
	padding: 0 10px;
}

.now-playing {
	grid-area: now-playing;
	width: 250px;
	background-color: #1E2124;
}

.now-playing-title {
	text-align: center;
	font-size: 18px;
	padding-bottom: 4px;
}

.np-img-thumbnail {
	position: relative;
	overflow: hidden;
	border-radius: 30px 30px 0 0;
}

.now-playing-img {
	display: block;
	width: 100%;
	margin: 10px auto;
	transform: translate(0, -20px);
}

#progress-time, #duration-time {
	font-size: 10px;
}

#timeline {
	margin: 4px 0;
	height: 2px;
	background: white;
	position: relative;
}

#progress-bar {
	width: 100%;
	position: absolute;
	background: #7663f2;
	height: 2px;
}

.np-artist-name, .np-song-name {
	text-align: center;
	padding: 2px 0;
	letter-spacing: 2px;
}

.np-artist-name {
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.np-song-name {
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.playback {
	padding: 10px 0;
	display: flex;
}

.backward, .forward, .play, .pause, .trash, .fire {
	height: 18px;
	display: inline;
	margin: 0 auto;
	cursor: pointer;
}

.now-playing-info {
	margin-top: -90px;
	background: #383a3d;
	position: relative;
	padding: 10px;
	border-radius: 20px;
} 

.np-song-desc {
	padding-top: 4px;
}

#progress-time {
	display: inline;
}

#duration-time {
	display: inline;
	float: right;
}

.trash {
	padding-right: 20px;
}

.fire {
	padding-left: 20px;
}

.play, .pause {
	display: none;
}


/* User button Section ----------------------------------------------------------*/

.user {
	background-color: #1E2124;
	margin-right: 24px;
	border-radius: 10px;
	border: 0;
}

.profileimg-button {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	margin-right: 5px;
	display: inline-block;
}

.name-button {
	position: relative;
	letter-spacing: .5px;
	font-size: 14px;
	display: inline-block;
}

#user-profile-button {
	float: right;
	margin: 20px;
	padding: 8px;
	border-radius: 10px;
	background-color: #7663F2;
	border: 0px;
	align-items: center;
	cursor: pointer;
	transition: .35s ease-out;
}

#user-profile-button:hover {
	background-color: #5D4EBF;
}

/* User Profile------------------------------------------------ */

#profile-content {
	height: 80%;
	display: flex;
}

.name, .role, .followers, .view-profile {
	font-family: 'Montserrat';
	color:white;
}

#user-profile {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.user-grid {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.user-info {
	padding-left: 16px;
}

.profileimg {
	width: 200px;
	border-radius: 50px;
}

.name {
	font-size: 30px;
	font-weight: bold;
	display: inline;
}

.view-profile {
	display: block;
	padding: 4px 0;
}

.view-profile:hover {
	color: #7663F2;
}

.role {
	display: inline;
	font-size: 30px;
	font-weight: bold;
}

.followers {
	letter-spacing: 1px;
	padding: 4px 0;
}

/* Sections ---------------------------------------------------------------------*/
.spacer {
  height: 70px;
}

#home-content, #profile-content, #discover-content, #browse-content, #library-content, #favorites-content, #following-content {
	padding: 0 24px;
}

#profile-content, #discover-content, #browse-content, #library-content, #favorites-content, #following-content {
	display: none;
}

/* New Releases Section ---------------------------------------------------------*/

#new-releases {
	margin-top: 16px;
	padding-bottom: 12px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 16px;
	/*overflow-x: scroll;
	scroll-snap-type: x proximity;*/
}

.albumimg {
	width: 100%;
	margin-bottom: 6px;
	border-radius: 20px 20px 0 0;
}

.album {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-color: #1E2124;
	border-radius: 20px;
}

.album-title, .artist-name {
	display: block;
	text-align: center;
}

.album-title {
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
	font-size: 16px;
	padding: 0 16px;
}

.artist-name {
	color: #999999;
	font-size: 14px;
	letter-spacing: 0.4px;
	padding: 0 20px 16px;
}

/* Recommendations Section ---------------------------------------------------------*/

#recommendations {
	margin-top: 16px;
	padding-bottom: 12px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 16px;
	/*overflow-x: scroll;
	scroll-snap-type: x proximity;*/
}

.recommend-img {
	width: 100%;
	margin-bottom: 6px;
	border-radius: 20px 20px 0 0;
}

.recommendation {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-color: #1E2124;
	border-radius: 20px;
}

.recommend-name, .recommend-album, .recommend-artist {
	color: white;
	font-family: 'Montserrat';
	display: block;
	text-align: center;
}

.recommend-name {
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
	font-size: 16px;
	padding: 0 16px;
}

.recommend-artist, .recommend-album {
	color: #999999;
	font-size: 14px;
	letter-spacing: 0.4px;
	padding: 0 20px;
}

.recommend-artist {
	padding: 0 20px 16px;
}

/* Browse Section ---------------------------------------------------- */
.options {
	margin-left: 16px;
}

input[type=text] {
	width: 100%;
	background-color: #1e2124;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 0;
	border-radius: 18px;
	box-sizing: border-box;
	color: white;
	font-family: 'Montserrat';
	letter-spacing: 0.5px;
	transition: .35s ease-out;
}

input[type=text]:focus {
	background-color: #7663F2;
	border: 0;
	outline: 0;
}
  
::placeholder {
	color: white;
}

input[type=checkbox] {
	height: 15px;
	width: 15px;
	border: 0;
	background-color: #eee;
	cursor: pointer;
	padding: 0;
	margin: 2px;
	transition: .35s ease-out;
}

.label {
	vertical-align: middle;
	display: flex;
	margin: 4px 0;
}

label {
	font-family: 'Montserrat';
	color:white;
	margin: 0 2px;
}

#search-button {
	margin-top: 4px;
	border: 0;
	padding: 8px 14px;
	background-color: #7663F2;
	color: white;
	border-radius: 20px;
	transition: .35s ease-out;
}

#search-button:hover {
	background-color: #5D4EBF;
}

.search-grid {
	margin-top: 16px;
}

#artist-result, #album-result, #track-result {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 16px;
	margin-top: 16px;
	margin-bottom: 20px;
}

.search-artist-title, .search-album-title, .search-track-title {
	display: none;
}

.search-artist-title, .search-artist-name, .search-artist-genres, .search-artist-followers {
	font-family: 'Montserrat';
	color:white;
}

.search-artist {
	text-align: center;
	background-color: #1E2124;
	border-radius: 20px;
}

.search-artist-name, .search-artist-genres, .search-artist-followers {
	font-family: 'Abel';
	color:white;
	padding: 0 10px;
}

.search-artist-name { 
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
	font-size: 16px;
}

.search-artist-genres, .search-artist-followers {
	color: #999999;
	font-size: 14px;
	letter-spacing: 0.4px;
}

.search-artist-followers {
	padding-bottom: 10px;
}

.search-album-name, .search-album-artist, .search-album-date, .search-album-tracks {
	font-family: 'Abel';
	color:white;
	padding: 0 10px;
}

.search-album {
	text-align: center;
	background-color: #1E2124;
	border-radius: 20px;
}

.search-album-name { 
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
	font-size: 16px;
}

.search-album-artist, .search-album-date, .search-album-tracks {
	color: #999999;
	font-size: 14px;
	letter-spacing: 0.4px;
}

.search-album-tracks {
	padding-bottom: 10px;
}

.search-track-name, .search-track-artist {
	font-family: 'Abel';
	color:white;
	padding: 0 10px;
}

.search-track {
	text-align: center;
	background-color: #1E2124;
	border-radius: 20px;
}

.search-track-name { 
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 2px;
	font-size: 16px;
}

.search-track-artist {
	color: #999999;
	font-size: 14px;
	letter-spacing: 0.4px;
	padding-bottom: 2px;
}


.search-img {
	width: 100%;
	border-radius: 20px 20px 0 0;
	margin-bottom: 10px;
}

/* Library Section ---------------------------------------------------------*/
#library-playlist {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 16px;
}

.library {
	display: grid;
	vertical-align: top;
	position: relative;
	background-color: #1E2124;
	border-radius: 20px;
}

.playlist-img {
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.playlist-name {
	display: block;
	text-align: center;
}

.playlist-name {
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 14px;
	padding: 8px 10px 10px 10px;
}

.none {
	font-size: 24px;
	text-align: center;
	margin: 50px 0;
}

#top-tracks {
	margin-top: 16px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;

}

.user-top-tracks {
	/*display: grid;*/
	position: relative;
	border-radius: 20px;
}

.top-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	border-radius: 20px;
	opacity: 0;
	transition: all 0.5s ease;
	background-color: #1e212480;
}

.top-track-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	display: block;
}

.top-track-name {
	display: block;
	position: relative;
	top: 40%;
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: bold;
	font-family: 'Montserrat';
}

.user-top-tracks:hover .top-overlay {
	opacity: 1;
}

#top-artist {
	margin-top: 16px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;

}

.user-top-artists {
	/*display: grid;*/
	position: relative;
	border-radius: 20px;
}

.top-artist-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	border-radius: 20px;
	opacity: 0;
	transition: all 0.5s ease;
	background-color: #1e212480;
}

.top-artist-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	display: block;
}

.top-artist-name {
	display: block;
	position: relative;
	top: 40%;
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: bold;
	font-family: 'Montserrat';
}

.user-top-artists:hover .top-artist-overlay {
	opacity: 1;
}

/* Following Section (Peyton's Workspace)---------------------------------------------------------*/
#following {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;

}

.following-artists {
	/*display: grid;*/
	position: relative;
	border-radius: 20px;
}

.following-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	border-radius: 20px;
	opacity: 0;
	transition: all 0.5s ease;
	background-color: #1e212480;
}

.fol-art-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	display: block;
}

.fol-art-name {
	display: block;
	position: relative;
	top: 50%;
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: bold;
	font-family: 'Montserrat';
}

.following-artists:hover .following-overlay {
	opacity: 1;
}

/*.following-artists:hover {
	transform: scale(1.2);
}*/

/* Featured Section (Peyton's Workspace)------------------------------------------------------*/
.feat-dj-section {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: 'feat dj';
	grid-gap: 16px;
}

.featured-playlists-grid {
	grid-area: feat;
}

.dj-status-grid {
	grid-area: dj;
}

.dj-status-contain {
	background-color: #1e2124;
    width: 100%;
    height: calc(100% - 45px);
	border-radius: 16px;
	margin-top: 45px;
	letter-spacing: 0.5px;
}

.dj-status-title {
	text-align: center;
	padding: 10px 10px 0 10px;
}

.dj-grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas: 'info live';
	padding: 10px 0;
}

.dj-info {
	grid-area: info;
	padding-left: 16px;
}

.dj-now-play {
	font-size: 12px;
}

.dj-name {
	font-weight: bold;
}

.dj-status {
	grid-area: live;
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin: auto 0;
}

.dj-status-live {
	grid-area: live;
	height: 10px;
	width: 10px;
	background-color: #63f26f;
	border-radius: 50%;
	display: inline-block;
	margin: auto 0;
}

.dj-name, .dj-now-play {
	color: white;
	font-family: 'Montserrat';
	padding: 1px 0;
}

.dj-divider {
	border: 1px solid white;
    width: 90%;
    margin: 5px auto;
}

#featured-playlists-playlist {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 16px;
	overflow: hidden;
}

.feat-play-desc {
	color: white;
	font-family: 'Montserrat';
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: bold;
}

.feat-play-img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: fill;
    display: block;
}

/* Recently Played Section (Peyton's Workspace)------------------------------------------------*/
.rec-play-grid {
	margin-top: 16px;
}

#recently-played-playlist {
	margin-top: 16px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;
}

.rec-play {
	display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #1E2124;
    border-radius: 20px;
}

.rec-play-name, .rec-play-artist {
	display: block;
	text-align: center;
}

.rec-play-name {
	font-family: 'Abel';
	color: white;
	letter-spacing: 0.5px;
	font-size: 14px;
	padding: 0 10px  14px 10px;
}

.rec-play-artist {
	font-family: 'Abel';
	color: white;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-weight: bold;
	padding: 0 10px;
}

.rec-play-img {
	width: 100%;
	border-radius: 20px 20px 0 0;
	margin-bottom: 4px;
}




