html,body{
    height: 100%;
  }
  body{
    margin: 0;
  }
  body {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    grid-template-columns:1fr;
    grid-template-areas:
               "nav"
              "main"
              "footer";
    
    grid-template-rows: 100px 1fr 80px;
  }
  nav {
    grid-area: nav;
  }

  main {
     grid-area: main;
  }

  footer {
      grid-area: footer;
  }
  nav {
    background-color: #7E57C2;
  }
  main {
    background-color: #F8BBD0;
  }
  footer {
    background-color: #7E57C2;
  }